<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather forecast</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/signup">Sing up</a>
    <a href="/login">Login</a>
    <br><br>
    <h3>Login</h3>
    <form action="/login" method="post">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>