{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<html >
    <head>
    <title>Note Creation</title>
    </head>
    <body>
<style>
    h1 {
        font-size: 3em;
        margin-bottom: 0.2em;
        color: #501000;
      }
    ol {
        background: #ff9999;
        padding: 20px;
      }
      
      ol li {
        background: #ffe5e5;
        color: darkred;
        padding: 5px;
        margin-left: 35px;
      }
</style>
<form method="POST">
    <h1 align='center'>Your Notes</h1>
    <div align='center' class="form-group">
        <label for="note">Enter your notes here</label>
        <p>
            <textarea name="note_html" id="note_html" class="form-control"></textarea>
        </p>
        <br />
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
    <ul>
        {% for note in all_notes %}
        <li class="form-control">{{ note }}
        </li>
        {% endfor %}
    </ul>
    </div>
    </body>
</html>
{% endblock %}